/fastchem_vulcan/*
/fastchem_vulcan/output/
/fastchem_vulcan/input/
/atm/VULCAN_input_files_WASP107b/
/__pycache__/

#The chem_funs.py function is created in every vulcan run if you don't use the -n flag.
chem_funs.py

/vulcan_python_scripts/__pycache__/
*.code-workspace
